@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#loadingContainer{
  height: 200px;
  background-color: #f7f7f9;
  border: 1px solid #e2e2e9;
}
#loadingContainerDropin{
  height: 200px;
  background-color: #f7f7f9;
  border: 1px solid #e2e2e9;
}
#loadingDivDropin{
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}
#loadingDivCenterVDropin{
  /* color: white; */
  width: 100%;
  padding: 20px;
  /* resize: both; */
}

#dropin-container{
  z-index: 999;
  /* background-color: red; */
}
#loadingDiv{
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
}
#loadingDivCenterV{
  color: white;
  width: 50%;
  padding: 20px;
  resize: both;
}
textarea.textareaResponse{
  font-size: 8pt;
}
.codeBlock{
  background-color:black;
  border-radius: 0.25rem;
  font-weight: bold;
}
.codeBlockBody{
  background-color:#202020;
  color: white;
  padding: 20px 40px 20px 40px;
  line-height: 0.3em;
  border-radius: 0.25rem;
}
.codeBlockHeader{
  background-color:#5C5C5C;
  color: white;
  font-weight: bolder;
  padding: 10px;
  border-radius: 0.25rem 0.25rem 0px 0px;
}
.codeBlockVar{
  color: #A574D0;
}
.codeBlockRequire{
  color: #EE0000;
}
.codeBlockString{
  color: #2EAB00;
}
.codeBlockVarPhp{
  color:#F66801;
}
.commentLine{
  /* color:#5B5B5B */
  color:#888888;
  /* font-family: "B_Proportional-Bold", courier, monospace; */
  /* cursor: text;
    font-family: "B_Proportional-Bold", courier, monospace;
    font-weight: 800;
    max-width: 100%; */

}
.propCode{
  color:#D75D05
}



/*draggble div*/
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 250px;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
/*draggble div*/